<div class="wrapper">
    <div class="wrapper__navig">
        <ul class="navig">
            <li class="navig__item" [ngClass]="{'active': isSelected}">
                <a class="link" (click)="selectComponent(infoComponentName)">{{'emplInfo.links.info' | translate}}</a>
            </li>
            <li class="navig__item" [ngClass]="{'active': !isSelected}">
                <a class="link" (click)="selectComponent(cvComponentName)">{{'emplInfo.links.cv-list' | translate}}</a>
            </li>
        </ul>
    </div>
</div>

<ng-container [ngSwitch]="selectedComponent">
    <app-employee-info *ngSwitchCase="infoComponentName"></app-employee-info>
    <app-employee-cv *ngSwitchCase="cvComponentName"></app-employee-cv>
    <app-employee-info *ngSwitchDefault></app-employee-info>
</ng-container>
