<div class="wrapper">
    <label [ngClass]="{'required': isRequired}"> {{label}}</label>
    <p-calendar inputId="basic"
                [dateFormat]="dateFormat"
                [formControl]="control"
                [required]="isRequired"
                [placeholder]="placeholder"
                [ngClass]="{'ng-invalid ng-dirty':control.errors}"
    >
    </p-calendar>

    <ng-container *ngIf="control.errors && control.touched">
        <small class="p-error">
            {{error | translate}}
        </small>
    </ng-container>

</div>
