.required:after {
  content: " *";
  color: red;
}

:host {
  ::ng-deep {

    .p-inputtext {
      border-radius: 0;
      padding: 0.313rem 0.75rem;
    }

    .p-calendar {
      width: 100%;
    }

    .ng-trigger-overlayAnimation {
      top: -150px!important;
    }
  }

}