.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;

  .header {
    width: 100%;
    height: 7rem;
    position: relative;

    .icon {
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
  }

  .main {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;

    .container {
      width: 22.5rem;
      margin: 0 auto;

      &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        label {
          margin-left: 1rem;
          font-family: 'Nunito', sans-serif;
          font-weight: 600;
          font-size: 2.2rem;
        }
      }

      &__form {

        .container__form_inputs * {
          ::ng-deep .wrapper {
            margin-top: 0.5rem;
          }
        }

        .container__form_link a {
          text-decoration: none;
          font-size: 1.2rem;
          float: right;
          color: #1890FF;
          margin: 0.4rem 0 0.8rem 0;
        }

        .container__form_button {
          .p-button-raised {
            width: 100%;
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    height: 9rem;
    position: relative;

    img {
      position: absolute;
      right: 6rem;
      bottom: 2rem;
    }
  }
}

