<app-spinner *ngIf="(isLoading$ | async); else table"
             strokeWidth="4"
></app-spinner>

<ng-template #table>
  <div class="new-cv-btn">
    <app-custom-button
      label="New CV"
      (click)="navigateToNewCVPage()"
    ></app-custom-button>
  </div>
  <app-custom-table
    [tableData]="cvs$| async"
    [globalFilteredFields]="globalFilteredFields"
    [columnNames]="columnNames"
    (rowClicked)="navigateToInfoPage($event)"
    [virtualRowHeight]="40"
    [scrollHeight]="420"
  ></app-custom-table>
</ng-template>
