.wrapper {
  width: 100%;
  height: 9vh;
  background-color: var(--main-footer);
  align-items: center;
  display: flex;

  &__content {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content_left {
      position: relative;
      width: 10.5rem;
      font-size: 2rem;

      .content__name {
        font-family: Roboto, serif;
        font-weight: bold;
      }

      .dot {
        color: red;
        position: absolute;
        top: -1rem;
        right: 0;
      }
    }

    .user-name {
      font-size: 1.1rem;
      position: absolute;
      right: 17rem;
      font-family: Roboto, serif;
    }
  }
}

