<div class="wrapper">
    <label [ngClass]="{'required': isRequired}"> {{label}}</label>
    <div class="content">
        <input
                [type]="showPassword ? 'text':'password'"
                [formControl]="control"
                [required]="isRequired"
                [placeholder]="placeholder"
                [ngClass]="{'ng-invalid ng-dirty':control.errors}"
                pInputText
        >
        <a (click)="toggleShow()">
            <i class="pi pi-eye" *ngIf="!showPassword"></i>
            <i class="pi pi-eye-slash" *ngIf="showPassword"></i>
        </a>
    </div>
    <ng-container *ngIf="control.errors && control.touched">
        <small class="p-error">
            {{error}}
        </small>
    </ng-container>
</div>
