<div class="wrapper">
    <label [ngClass]="{'required': isRequired}"> {{label}}</label>
    <div class="content">
        <input
                [type]="isShowPassword ? 'text':'password'"
                [formControl]="control"
                [required]="isRequired"
                [placeholder]="placeholder"
                [ngClass]="{'ng-invalid ng-dirty':control.errors}"
                pInputText
        >

        <i
                [ngClass]="isShowPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
                (click)="changeShowPassword()"
        ></i>

    </div>
    <ng-container *ngIf="control.errors && control.touched">
        <small class="p-error">
            {{error | translate}}
        </small>
    </ng-container>
</div>
