.required:after {
  content:" *";
  color: red;
}

.wrapper {
  position: relative;
  background-color: black;

  .pi {
    position: absolute;
    top: 25%;
    right: 5%;
  }
}

:host {
  ::ng-deep .p-inputtext {
    width: 100%;
    border-radius: 0;
    padding: 0.313rem 0.75rem;
  }
}