<div class="wrapper">
    <header class="header">
        <app-auth-header></app-auth-header>
    </header>

    <main class="main">
        <div class="container">
            <div class="container__logo">
                <img src="./assets/icons/logo.svg" alt="logo">
                <label class="logo_text">Ant Design</label>
            </div>

            <div *ngIf="backendErrors$ | async as backendErrors">
                <app-backend-errors
                        [backendError]="backendErrors"
                ></app-backend-errors>
            </div>

            <div class="container__form">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="container__form_inputs">
                        <app-input
                                class="form_item"
                                [label]="'auth.ident' | translate"
                                [placeholder]="'auth.placeholder-ident' | translate"
                                [errorsMap]="requiredField"
                                formControlName="identifier"
                        ></app-input>
                        <app-password-input
                                class="form_item"
                                [label]="'auth.password' | translate"
                                [placeholder]="'auth.placeholder-password' | translate"
                                [errorsMap]="requiredField"
                                formControlName="password"
                        ></app-password-input>
                    </div>

                    <div class="container__form_links">
                        <div class="container__form_link">
                            <a [routerLink]="" class="back_to_register">
                                {{'links.registerNavigate' | translate}}
                            </a>
                        </div>
                    </div>

                    <div class="container__form_button">
                        <app-custom-button
                                [label]="'auth.login-btn' | translate"
                                type="submit"
                                [disabled]="(loginForm.invalid || loginForm.pending)"
                        ></app-custom-button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer">
        <img
                class="footer__img"
                src="./assets/icons/question.svg"
                alt="question">
    </footer>
</div>
