.wrapper {
  height: 69vh;
  display: flex;
  justify-content: start;

  &__left-side {
    border: 0.1px solid var(--color-border);
    height: 100%;
    position: relative;
    width: 17vw;

    .set-cv {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .content {
      padding: 0.5rem;


      &__search-input {
        position: relative;
        margin-bottom: 0.5rem;

        .search {
          width: 100%;
        }

        .pi {
          position: absolute;
          top: 30%;
          right: 4%;
        }
      }

      &__list-cv {
        height: 52vh;

        .cvs__list {
          overflow-y: auto;


          :hover {
            background-color: var(--color-link);
          }

          .content__cv {
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 0.5rem;


            .cv_name {
              font-size: 1.3rem;
            }


            .cv_open, .cv_delete {
              :hover {
                cursor: pointer;
              }
            }
          }

        }
      }
    }
  }

  .wrapper__cv-content {
    width: 100%;
    overflow-y: auto;
    margin-left: 1rem;

    .content {
      margin: 0.5rem;
    }
  }

  .info {
    &__body {
      .info__body_combine {
        display: grid;
        grid-template-columns: repeat(2, 18rem);
        gap: 1em;
        margin-bottom: 1rem;
      }
    }
  }

  .add-skill {
    margin-top: 0.7rem;
    display: flex;
    justify-content: end;

    &__title {
      margin-left: 0.3rem;
    }

    :hover {
      cursor: pointer;
    }
  }

  .panel-list {
    .panel-content {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .cross {
        padding-top: 1.4rem;
        color: red;

        :hover {
          cursor: pointer;
        }
      }
    }

    li {
      list-style-type: none;
    }
  }

  .panel-content-project {
    position: relative;

    .combine {
      display: grid;
      grid-template-columns: repeat(3, 20rem);
      gap: 1em;
    }

    .cross {
      position: absolute;
      top: 0;
      right: 0;
      color: red;

      :hover {
        cursor: pointer;
      }
    }

    .autocomplete {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: grid;
      gap: 1em;
    }

  }

  .save-btn {
    display: flex;
    justify-content: end;

    .download-btn {
      margin-right: 2rem;
    }
  }
}