<app-spinner *ngIf="(isLoading$ | async); else table"
             strokeWidth="4"
></app-spinner>

<ng-template #table>
  <div class="new-proj-btn">
    <app-custom-button
            [label]="'projectInfo.buttons.newProject' | translate"
            (click)="navigateToNewProjectPage()"
    ></app-custom-button>
  </div>
  <app-custom-table
    [tableData]="projects$| async"
    [globalFilteredFields]="globalFilteredFields"
    [columnNames]="columnNames"
    [scrollHeight]="420"
    (rowClicked)="navigateToInfoPage($event)"
  ></app-custom-table>
</ng-template>
