.header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__languages {
    margin-right: 3rem;
  }

  &__switch {
    margin-right: 1rem;
  }
}